<div class="row px-3">
  <!-- Ajusta a tela de acordo com o modo para 8 col em editar e 12 em novo -->
  <div class="p-0" [ngClass]="{'col-md-8 pr-4':modoEditar, 'col-md-12 pr-4': !modoEditar}">

    <div class="card rouded shadow-sm">
  <!-- formGroup faz a referencia com o metodo de validação dos campos -->

  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">

        <div class="form-group col-md-12 ">
          <label>Tema</label>
          <input type="text" class="form-control" [ngClass]="cssValidator(f.tema)"
                 formControlName="tema" [(ngModel)]="evento.tema" placeholder="Insira o Tema">

          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            Tema é obrigatório
          </div>

          <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
            Minimo 5 caracteres
          </div>
          <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
            Maximo 70 caracteres
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text" class="form-control" [ngClass]="cssValidator(f.local)"
                 formControlName="local" [(ngModel)]="evento.local" placeholder="local do evento">

          <div *ngIf="f.local.errors?.required" class="invalid-feedback">
            Local é obrigatório
          </div>

          <div *ngIf="f.local.errors?.maxlength" class="invalid-feedback">
            Local deve ter no maximo 30 caracter
          </div>

        </div>

        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input type="datetime" class="form-control is-invalid"
                 value="{{evento.dataEvento| DateFormatPipe}}"
                 bsDatepicker
                 [bsConfig]="dpConfig"
                 formControlName="dataEvento"
                 [(ngModel)]="evento.dataEvento                "
                 [ngClass]="cssValidator(f.dataEvento)" placeholder="data e hora">
          <div *ngIf="f.dataEvento.errors?.required" class="invalid-feedback">
            Data e hora é obrigatório
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input type="number" class="form-control" [ngClass]="cssValidator(f.qtdPessoa)"
                 formControlName="qtdPessoa" [(ngModel)]="evento.qtdPessoa" placeholder="">

          <div *ngIf="f.qtdPessoa.errors?.required" class="invalid-feedback">
            Qtd pessoas é obrigatório
          </div>

          <div *ngIf="f.qtdPessoa.errors?.max" class="invalid-feedback">
            Numero de pessoas limitada em 500
          </div>

        </div>
        <div class="form-group col-md-4">
          <label>Telefone</label>
          <input type="text" class="form-control"
                 [ngClass]="cssValidator(f.telefone)"
                 formControlName="telefone" [(ngModel)]="evento.telefone"
                 placeholder="(00) 90000-0000">

          <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
            Telefone é obrigatório
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="text" class="form-control"
                 [ngClass]="cssValidator(f.email)"
                 formControlName="email" [(ngModel)]="evento.email"
                 placeholder="e-mail">


          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            E-mail é obrigatório
          </div>

          <div *ngIf="f.email.errors?.email" class="invalid-feedback">
            Formato de e-mail invalido
          </div>


        </div>
        <!-- Removido campo IMAGEM após implementar UPLOAD de arquivo -->
        <!-- <div class="form-group col-md-4">
          <label>Imagem</label>
          <input type="text" class="form-control is-invalid"
                 [ngClass]="cssValidator(f.imagemUrl)"
                 formControlName="imagemUrl" placeholder="imagem">
          <div *ngIf="f.imagemUrl.errors?.required" class="invalid-feedback">
            Imagem é obrigatório
          </div>
        </div> -->

      </div>


      <div class="card-footer">
        <div class="d-flex">
          <button class="btn btn-outline-danger mr-auto border" (click)="resetForm()">
            Cancelar Alteração
          </button>
          <!-- Disbled so habilita o botão se o status do form for VALIDO, PADRAO E INVALIDO -->
          <button class="btn btn-success " [disabled]="!form.valid" (click)="salvarEvento()">
            <!--<span class="spinner-border spinner-border-sm mr-1"></span>-->
            Salvar Evento
          </button>
        </div>
      </div>

    </div>

  </form>

</div>

<!--seção Lotes-->
 <!-- exibe a dive somente quando modoEditar='put' -->
<div class="card rounded shadow-sm mt-4" *ngIf="modoEditar">
  <div class="p-3">
    <div class="d-flex border-bottom">
      <h2 class="mr-auto">
        Lotes do Evento
      </h2>
      <h2>
        <i class="fas fa-money-bill-wave"></i>
      </h2>
    </div>
    <p>Clique em Lote para adicionar e preencher novos Lotes</p>
    <div class="form-row p-1">
     <div [formGroup]="form" class="col">
        <!--  ngFor="let lote of lotes.controls; let i=index
        faz a interação baseando-se nos controles. i=index faz a interação
      lotes foi definido no ts formbuilder -->
        <div formArrayName="lotes" *ngFor="let lote of lotes.controls; let i = index ">
<!-- formgroupname é o indce i  / faz o agrupamento dos item no formulario -->
          <fieldset [formGroupName]="i" class="form-group">
            <legend class="d-flex justify-content-between capitalize">
              {{ retornaTituloLote(lotes.get(i +'.nome').value) }}

              <!-- Template no final do html -->
              <button (click)="removerLotes(template,i)" class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex"
                      tooltip="Excluir Lote"
                      [adaptivePosition]="false"
                      [delay]="500"
                      placement="left">
                <i class="fa fa-window-close my-1"></i>
                <b class="ml-1 d-none d-sm-block">Excluir</b>

              </button>
            </legend>
            <div class="row">
              <div class="form-group col-md-4">
                <label>Nome</label>
                <!-- i.nome representa o campo do indice i  -->
                <input [ngClass]="cssValidator(lotes.get(i+'.nome'))"
                  type="text" class="form-control" formControlName="nome" placeholder="Lote">

                <div *ngIf="lotes.get(i+'.nome')?.errors?.['required']"  class="invalid-feedback">
                  Campo obrigatorio
                </div>

                </div>
              <div class="form-group col-md-4">
                <label>Quantidade</label>
                <input [ngClass]="cssValidator(lotes.get(i+'.quantidade'))"
                type="text" class="form-control" formControlName="quantidade" placeholder="000">
                <div *ngIf="lotes.get(i+'.quantidade')?.errors?.['required']"  class="invalid-feedback">
                  Campo obrigatorio
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Preço</label>
                <input [ngClass]="cssValidator(lotes.get(i+'.preco'))"
                type="text"
                currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align:'left' }"
                class="form-control" formControlName="preco" placeholder="R$ 0,00">
                <div *ngIf="lotes.get(i+'.preco')?.errors?.['required']"  class="invalid-feedback">
                  Campo obrigatorio
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Data Início</label>
                <input type="text" class="form-control"
                 bsDatepicker
                 [bsConfig]="dpConfigDataLote"
                formControlName="dataInicio" placeholder="01/01/2019">
              </div>
              <div class="form-group col-md-4">
                <label>Data Fim</label>
                <input type="text" class="form-control"
                 bsDatepicker
                 [bsConfig]="dpConfigDataLote"
                formControlName="dataFim" placeholder="01/01/2019">
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <button (click)="adicionarLote()" class="d-flex btn btn-outline-primary">
      <i class="fa fa-plus-circle my-1"></i>
      <b class="ml-1">Lote</b>
    </button>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <button class="btn btn-outline-secondary mr-auto border">
        Cancelar Alteração
      </button>
      <button [disabled]="!form.controls['lotes'].valid" (click)="salvarLotes()" class="btn btn-success">
        Salvar Lotes
      </button>
    </div>
  </div>
</div>
<!-- Fecha as 2 primeira divs -->
</div>

<!-- Sessão UPLOAD -->
<div class="col-md-4 pr-0" *ngIf="modoEditar">
  <div [formGroup]="form" class="card-evento-view shadow-sm">
    <div class="form-row">
      <div class="form-group m-0">
        <!-- (change)="onFileChange($event) PASSA as informações do evento após MUDANCA DE ESTADO -->
        <input type="file" #file (change)="onFileChange($event)"
        class="form-control is-invalid " placeholder="" style="display:none">
    </div>
    <div class="card profile-card-2">
      <div class="card-img-block">
        <!-- (click)="file.click() EXECUTA o CLICK no INPUT com id FILE-->
        <img class="image" [src]="imagemURL" class="img-fluid" (click)="file.click()" alt="Card image cap"
        tooltip="Uplaod de Nova Imagem" [adaptivePosition]="false" placement="bottom" />
      </div>
      <div class="card-body pt-3">
        <h4>{{evento.tema}}</h4>
        <p class="card-text">
          <b>Local:</b> {{evento.local}}
          <br>
          <b>Data:</b> {{evento.dataEvento | DateFormatPipe}}
        </p>
        <hr>
        <p class="card-text">
          <b>Contatos</b><br>
          <small class="text-muted">Telefone: {{evento.telefone}}</small>
          <br>
          <small class="text-muted">e-mail: {{evento.email}}</small>
        </p>
        <p class="card-text">
          Capacidade:
          <small class="text-muted">{{evento.qtdPessoa}}</small>
        </p>
        <div class="row">
          <div class="icon-block col-md-8 iconesSociais">
            <a href="">
              <i class=""></i>
            </a>
          </div>
          <!--div class="col-md-4 d-flex justify-content-center">
            <a href="#" class="btn btn-outline-primary">Participar</a>
          </div-->
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<br>
<!-- Modal para exclusão   -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Confirma a deleção do lote {{loteAtual.nome}} ?</p>
    <button type="button" class="btn btn-default" (click)="confirmeDeleteLote()">SIM</button>
    <button type="button" class="btn btn-primary" (click)="declineDeleteLote()">NÃO</button>
  </div>
</ng-template>
